@using Cms.Data.Services
@inject IArticleGroupService ArticleGroupService
<h2 class="mb-4 tm-post-title tm-color-primary">Categories</h2>
<ul class="tm-mb-75 pl-5 tm-category-list">
    @foreach (var group in ArticleGroupService.AllGroups())
    {

        <li><a href="#" class="tm-color-primary">@group.Title</a></li>
    }
</ul>