<header b-91w5mas8m5="" class="tm-header" id="tm-header">
    <div b-91w5mas8m5="" class="tm-header-wrapper">
        <button b-91w5mas8m5="" class="navbar-toggler" type="button" aria-label="Toggle navigation">
            <i b-91w5mas8m5="" class="fas fa-bars"></i>
        </button>
        <div b-91w5mas8m5="" class="tm-site-header">
            <div b-91w5mas8m5="" class="mb-3 mx-auto tm-site-logo"><i b-91w5mas8m5="" class="fas fa-times fa-2x"></i></div>
            <h1 b-91w5mas8m5="" class="text-center">Xtra Blog</h1>
        </div>
        <nav b-91w5mas8m5="" class="tm-nav" id="tm-nav">
            <ul b-91w5mas8m5="">
                <li b-91w5mas8m5="" class="tm-nav-item active">
                    <a b-91w5mas8m5="" asp-area="" asp-controller="Home" asp-action="Index" class="tm-nav-link">
                        <i b-91w5mas8m5="" class="fas fa-home"></i>
                        Blog Home
                    </a>
                </li>
                <li b-91w5mas8m5="" class="tm-nav-item">
                    <a b-91w5mas8m5=""  class="tm-nav-link">
                        <i b-91w5mas8m5="" class="fas fa-pen"></i>
                        Single Post
                    </a>
                </li>
                <li b-91w5mas8m5="" class="tm-nav-item">
                    <a b-91w5mas8m5="" class="tm-nav-link">
                        <i b-91w5mas8m5="" class="fas fa-users"></i>
                        About Xtra
                    </a>
                </li>
                <li b-91w5mas8m5="" class="tm-nav-item">
                    <a b-91w5mas8m5="" class="tm-nav-link">
                        <i b-91w5mas8m5="" class="far fa-comments"></i>
                        Contact Us
                    </a>
                </li>
            </ul>
        </nav>
        <div b-91w5mas8m5="" class="tm-mb-65">
            <a b-91w5mas8m5="" rel="nofollow" href="https://fb.com/templatemo" class="tm-social-link">
                <i b-91w5mas8m5="" class="fab fa-facebook tm-social-icon"></i>
            </a>
            <a b-91w5mas8m5="" href="https://twitter.com" class="tm-social-link">
                <i b-91w5mas8m5="" class="fab fa-twitter tm-social-icon"></i>
            </a>
            <a b-91w5mas8m5="" href="https://instagram.com" class="tm-social-link">
                <i b-91w5mas8m5="" class="fab fa-instagram tm-social-icon"></i>
            </a>
            <a b-91w5mas8m5="" href="https://linkedin.com" class="tm-social-link">
                <i b-91w5mas8m5="" class="fab fa-linkedin tm-social-icon"></i>
            </a>
        </div>
        <p b-91w5mas8m5="" class="tm-mb-80 pr-5 text-white">
            Xtra Blog is a multi-purpose HTML template from TemplateMo website. Left side is a sticky menu bar. Right side content will scroll up and down.
        </p>
    </div>
</header>