<div b-91w5mas8m5="" class="row tm-row">
    <div b-91w5mas8m5="" class="col-12">
        <form method="GET" class="form-inline tm-mb-80 tm-search-form">
            <input b-91w5mas8m5="" class="form-control tm-search-input" name="query" type="text" placeholder="Search..." aria-label="Search">
            <button b-91w5mas8m5="" class="tm-search-button" type="submit">
                <i b-91w5mas8m5="" class="fas fa-search tm-search-icon" aria-hidden="true"></i>
            </button>
        </form>
    </div>
</div>